<div class="container-fuild custom">
  <nav class="navbar navbar-expand-sm bg-white fixed-top custom">
    <a class="navbar-brand" routerLink="">Laptop For You</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- Navbar text-->
          <span class="navbar-text">
            {{'header.labelPriceFrom' | translate}}
          </span>
        </li>

        <li class="nav-item">
          <select name="lowPrice" class="custom-select">
            <option value="price">{{'header.itemPriceFrom1' | translate}}</option>
            <option value="price">{{'header.itemPriceFrom2' | translate}}</option>
            <option value="price">{{'header.itemPriceFrom3' | translate}}</option>
            <option value="price">{{'header.itemPriceFrom4' | translate}}</option>
            <option value="price">{{'header.itemPriceFrom5' | translate}}</option>
            <option value="price">{{'header.itemPriceFrom6' | translate}}</option>
          </select>
        </li>

        <li class="nav-item">
          <!-- Navbar text-->
          <span class="navbar-text custom">
            {{'header.labelPriceTo' | translate}}
          </span>
        </li>

        <li class="nav-item">
          <select name="highPrice" class="custom-select">
            <option value="price">{{'header.itemPriceTo1' | translate}}</option>
            <option value="price">{{'header.itemPriceTo2' | translate}}</option>
            <option value="price">{{'header.itemPriceTo3' | translate}}</option>
            <option value="price">{{'header.itemPriceTo4' | translate}}</option>
            <option value="price">{{'header.itemPriceTo5' | translate}}</option>
            <option value="price">{{'header.itemPriceTo6' | translate}}</option>
          </select>
        </li>

        <li class="nav-item">
          <!-- Navbar text-->
          <span class="navbar-text custom">
            {{'header.labelTradeMark' | translate}}
          </span>
        </li>

        <li class="nav-item">
          <select name="producer" class="custom-select">
            <option value="apple">{{'header.itemTradeMark1' | translate}}</option>
            <option value="asus">{{'header.itemTradeMark2' | translate}}</option>
            <option value="acer">{{'header.itemTradeMark3' | translate}}</option>
            <option value="dell">{{'header.itemTradeMark4' | translate}}</option>
            <option value="hp">{{'header.itemTradeMark5' | translate}}</option>
            <option value="lenovo">{{'header.itemTradeMark6' | translate}}</option>
            <option value="msi">{{'header.itemTradeMark7' | translate}}</option>
            <option value="masstel">{{'header.itemTradeMark8' | translate}}</option>
            <option value="haier">{{'header.itemTradeMark9' | translate}}</option>
          </select>
        </li>

        <li class="nav-item">
          <!-- Navbar text-->
          <span class="navbar-text custom">
            {{'header.labelAim' | translate}}
          </span>
        </li>

        <li class="nav-item">
          <select name="target" class="custom-select">
            <option value="student">{{'header.itemAim1' | translate}}</option>
            <option value="gamer">{{'header.itemAim2' | translate}}</option>
            <option value="designer">{{'header.itemAim3' | translate}}</option>
            <option value="business">{{'header.itemAim4' | translate}}</option>
          </select>
        </li>

        <li class="nav-item">
          <button class="btn btn-primary" routerLink="/product-list">
            {{'header.resultButton' | translate}}
          </button>
        </li>
      </ul>
      <div class="lang-logo pl-5">
        <img src="assets/logo/en.png" alt="English" title="English" (click)="translate.use('en')">
        <img src="assets/logo/vi.png" alt="Việt Nam" title="Tiếng Việt" (click)="translate.use('vi')">
      </div>
    </div>
  </nav>
</div>