<div class="container-fluid jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <i class="fa fa-search fa-7x"></i>
        <h3>Laptop For You</h3>
        <p class="text-left">
          {{'footer.information1' | translate}}
        </p>
      </div>
      <div class="col-sm-6 text-center">
        <i class="fa fa-laptop fa-7x"></i>
        <h3>{{'footer.index' | translate}}</h3>
        <p class="text-left">
          {{'footer.indexInformation' | translate}}
        </p>
      </div>
      <div class="col-sm-12">
        <div class="border-box">
          <h6 class="custom">
            {{'footer.information2' | translate}}
          </h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-1" *ngFor="let logo of logos">
        <a href={{logo.link}} target="_blank" title={{logo.title}}>
          <img class="card-img-top" src={{logo.img}} alt={{logo.alt}} />
        </a>
      </div>
    </div>
  </div>
</div>