<div class="row">
  <div class="container-fluid custom">
    <!--data-interval: Set time for action. Unit: ms-->
    <div
      id="demo"
      class="carousel slide"
      data-ride="carousel"
      data-interval="5000"
    >
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a
            href="https://fptshop.com.vn/mua-laptop-den-fptshop"
            target="_blank"
          >
            <img
              [src]="images1"
              alt="Laptop"
              title="Laptop Chung - IPB - Normal sales - Laptop Giá Rẻ  - 2019 Ap - C1"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://fptshop.com.vn/laptop-gaming" target="_blank">
            <img
              [src]="images2"
              alt="Laptop"
              title="Laptop Chung - IPB - Normal sales - Laptop Gaming  - 2019 Ap - C1"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.thegioididong.com/laptop-dell" target="_blank">
            <img [src]="images3" alt="Laptop" title="Laptop Dell" />
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://www.thegioididong.com/laptop-asus" target="_blank">
            <img [src]="images4" alt="Laptop" title="Laptop Asus" />
          </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
