<div class="row">
  <div class="col-sm-3" *ngFor="let product of returnedProducts">
    <div class="card">
      <img class="card-img-top" src={{product.IMAGE}} alt="avatar" />
      <div class="card-body">
        <h4 class="card-title">{{ product.PRICE }} VND</h4>
        <p class="card-text">
          CPU: {{ product.CPU }} <br>
          RAM: {{ product.RAM }} Gb <br>
          VGA: {{ product.VGA }} <br>
          {{'productList.infor1' | translate}}: {{ product.OS }} <br>
          {{'productList.infor2' | translate}}: {{ product.SCREEN }} inch <br>
          {{'productList.infor3' | translate}}: {{ product.WEIGHT }} Kg
        </p>
        <div class="text-center">
          <a href={{product.LINK}} target="_blank" class="btn btn-primary stretched-link">{{'productList.payButton' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div *ngIf="returnedProducts.length > itemsPerPage">
  <pagination class="pagination justify-content-center custom-pagination" previousText="Trước" nextText="Sau"
    [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" [totalItems]="returnedProducts.length"
    (pageChanged)="pageChanged($event)"></pagination>
</div>
-->