<div class="container-fluid pl-0 pr-0">
  <div class="row">
    <div class="card-group">
      <div class="card mb-0" *ngFor="let product of returnedProducts">
        <div class="card-header">
            <img src={{product.IMAGE}} alt="Avatar" class="card-img-top">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.PRICE | currency:"VND":"" }}</h5> <!--"" xóa tên tiền tệ-->
          <p class="card-text">
            CPU: {{ product.CPU }} <br>
            RAM: {{ product.RAM }} Gb <br>
            VGA: {{ product.VGA }} <br>
            {{ 'productList.infor1' | translate }}: {{ product.OS }} <br>
            {{ 'productList.infor2' | translate }}: {{ product.SCREEN }} Inch<br>
            {{ 'productList.infor3' | translate }}: {{ product.WEIGHT }} Kg
          </p>
        </div>
        <div class="card-footer text-center">
          <a href={{product.LINK}} target="_blank" class="btn btn-primary stretched-link">
            {{ 'productList.payButton' | translate }} </a>
        </div>
      </div>
    </div>
  </div>
</div>