.card-title {
  text-align: center;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.btn-primary {
  background-color: white;
  color: #007bff;
}
.btn-primary:hover {
  background-color: #007bff;
  color: white;
}
.card-img-top {
  width: 100%;
  height: 280px;
}
.card-title {
  color: rgb(255, 50, 50);
}
.card-title:after {
  content: '\20AB';
  font-size: medium;
}
.card-header, .card-footer {
  background-color: white;
  border-top: none;
}

@media (min-width: 576px) {
  .card-group {
    width: 100%;
  }
  .card {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 20%;
  }
}